.img-zone {
    position: absolute;
    transform: scaleX(-1);
    width: 600px;
    height: 600px;
    top: 0;
    bottom: 0;
    left: auto;
    right: 5%;
    margin: auto;
    z-index: 0;
    transition: 0.3s ease-in-out;

    &:hover {
        transform: scaleX(-1) scale(1.05);
    }

    .character {
        position: absolute;
        top: auto;
        right: auto;
        bottom: auto;
        left: 0;
        margin: auto;
        width: 100%;
        opacity: 0;
        animation: fadeInLeft 1.5s 1s forwards;
        z-index: 1;
    }
}