.text-zone {
    position: absolute;
    left: 12%;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    max-height: 90%;
    z-index: 2;
}

h1 {
    font-size: 55px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -2px;
}

h2 {
    margin-top: -30px;
    font-size: 40px;
    font-weight: 500;
}

h3{
    margin-top: -15px;
    font-size: 18px;
    font-weight: 500;
    opacity: 0;
    animation: fadeIn 1s 2s forwards;
}

.flat-button {
    position: absolute;
    border: 2px solid #fbe4d6a9;
    margin-top: 14px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 6px 20px;
    text-decoration: none;
    color: #fbe4d6a9;
    float: left;
    opacity: 0;
    animation: bounceIn 1s 2.5s forwards;
    transition: 0.2s ease-out;
    white-space: nowrap;
    border-radius: 2px;

    &:hover {
        color: #0C0950;
        background: #FBE4D6;
    }
}

.img-zone {
    position: absolute;
    transform: scaleX(-1);
    width: 600px;
    height: 600px;
    top: 0;
    bottom: 0;
    left: auto;
    right: 5%;
    margin: auto;
    z-index: 0;
    transition: 0.3s ease-in-out;

    &:hover {
        transform: scaleX(-1) scale(1.1);
    }

    .character {
        position: absolute;
        top: auto;
        right: auto;
        bottom: auto;
        left: 0;
        margin: auto;
        width: 100%;
        opacity: 0;
        animation: fadeIn 1s 2s forwards;
        z-index: 1;
    }
}
