.page {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
     user-select: none;
}

.elements {
    position: absolute;
    color: #fbe4d6a9;
    opacity: 0;
    left: 190px;
    bottom: 30px;
    font-size: 30px;
}

.top-elements {
    top: 30px;
    bottom: auto;
    animation: backInUp 0.7s forwards;
}

.bottom-elements {
    animation: fadeInBottomLeft 1s forwards;
    animation-delay: 2s;
}

.container {
    position: absolute;
    width: 100%;
    height: 90%;
    min-height: 560px;
    top: 5%;
    margin: 0 auto;
    will-change: contents;
    opacity: 1;
    z-index: 1;
    transform-style: preserve-3d;
}

.container.profile-page,
.container.contact-page {
    .text-zone {
    position: absolute;
    left: 12%;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    max-height: 90%;
    z-index: 2;
    }

    h1 {
        font-size: 60px;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: -2px;
    }

    h2 {
        margin-top: -35px;
        font-size: 40px;
        font-weight: 500;
    }

    h3{
        margin-top: -15px;
        font-size: 20px;
        font-weight: 500;
        opacity: 0;
        line-height: 32px;
        animation: fadeInLeft 1.5s 1.5s forwards;
    }

    .flat-button {
        position: absolute;
        border: 2px solid #fbe4d6a9;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 2px;
        padding: 6px 20px;
        text-decoration: none;
        color: #fbe4d6a9;
        float: left;
        opacity: 0;
        animation: fadeInLeft 1.5s 1.5s forwards;
        transition: 0.2s ease-out;
        white-space: nowrap;
        border-radius: 2px;

        &:hover {
            color: #0C0950;
            background: #FBE4D6;
        }
    }
}

.loader {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 auto;
}
