.contact-me {
    width: 75%;
    a {
        color: #FBE4D6;
    }    
}

.form-zone {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 35%;
    left: auto;
    right: 5%;
    margin: 0 auto;
    
    ul {
        padding: 0;
        margin: 0;

        li {
            display: block;
            position: relative;
            list-style: none;
            margin-bottom: 8px;
            overflow: hidden;
            opacity: 0;
            animation: fadeInRight 1.5s 1s forwards;
        }
    }

    input[type=text],
    input[type=email] {
        border: 2px solid #0C0950;
        border-radius: 4px;
        width: 100%;
        height: 50px;
        color: #fbe4d6a9;
        background: #0C0950;
        font-size: 18px;
        font-weight: 500;
        padding: 0 20px;
        box-sizing: border-box;
        outline: none;
    }

    input[type=text]:focus,
    input[type=email]:focus {
        transition: 0.3s ease-out;
        border: 2px solid #FBE4D6;
        outline: none;
    }

    textarea {
        border: 2px solid #0C0950;
        border-radius: 4px;
        width: 100%;
        min-height: 160px;
        color: #fbe4d6a9;
        background: #0C0950;
        font-size: 18px;
        font-weight: 500;
        padding: 15px 20px;
        box-sizing: border-box;
        outline: none;
        resize: none;
    }
    
    textarea:focus {
        transition: 0.3s ease-out;
        border: 2px solid #FBE4D6;
    }

    .form-button {
        float: right;
        background: transparent;
        border: 2px solid #fbe4d6a9;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 2px;
        padding: 6px 16px;
        text-decoration: none;
        color: #fbe4d6a9;
        opacity: 0;
        animation: fadeInRight 1s 1.5s forwards;
        transition: 0.2s ease-out;
        white-space: nowrap;
        border-radius: 2px;
        margin-top: 8px;
        margin-right: 1px;

        &:hover {
            color: #0C0950;
            background: #FBE4D6;
        }
    }
}

.message-toast {
    border: 2px solid #FBE4D6 !important;
    border-radius: 4px !important;
    background: #0C0950 !important;
    font-family: 'Manrope', Manrope;
    font-size: 18px;
    font-weight: 700;
    color: #FBE4D6;
}

.message-progress-bar {
    background: white;
}