.project-modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: 100;
    opacity: 0;
    transition: 0.2s ease-in;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}

.project-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #0C0950;
    padding: 40px;
    border-radius: 6px;
    max-width: 640px;
    width: 90%;
    max-height: 90vh;
    overflow-y: auto;
    color: #FBE4D6;
    outline: none;
    transform: translate(-50%, -45%) scale(0.95);
    opacity: 0;
    transition: 0.2s ease-out;

    img {
        width: 100%;
        height: 100%;
    }

    h1 {
        font-size: 32px;
        font-weight: 800;
        letter-spacing: 2px;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 20px;
        font-weight: 700;
        line-height: 20px;
        margin-top: 30px;
    }

    p {
        font-size: 16px;
        font-weight: 500;
        color: #fbe4d6a9;
    }
    
    span {
        font-size: 16px;
        font-weight: 700;
        color: #0C0950;
        padding: 2px 8px;
        margin-right: 8px;
        background: #fbe4d6a9;
        border-radius: 2px;
    }
}

.ReactModal__Overlay--after-open .project-modal {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.ReactModal__Overlay--before-close .project-modal {
    transform: translate(-50%, -45%) scale(0.95);
    opacity: 0;
}

.close {
    position: absolute;
    top: 8px;
    right: 8px;
    background: none;
    border: none;
    font-size: 2.5rem;
    color: white;
    cursor: pointer;
}