html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font: 300 12px/1.5 'Manrope', 'sans-serif';
  color: #FBE4D6;
  background: #161179;
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}